.App {
  text-align: center;
}

.App .navbar-brand {
  font-weight: bold;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.navbar,
.navbar-default{
  background-image: none;
}

.navbar-header {
  background-color: #F16E10;
}

.nav-collapse .li {
	list-style-type: none;
}